<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Essential>
            <version>0.1.0</version>
        </Polcode_Essential>
    </modules>
    <frontend>
        <layout>
            <updates>
                <essential>
                    <file>essential.xml</file>
                </essential>
            </updates>
        </layout>
        <translate>
            <modules>
                <Polcode_Essential>
                    <files>
                        <default>Polcode_Essential.csv</default>
                    </files>
                </Polcode_Essential>
            </modules>
        </translate>       
    </frontend>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_related>Polcode_Essential_Block_Adminhtml_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related>
                </rewrite>
            </adminhtml>
            <essential>
                <class>Polcode_Essential_Block</class>
            </essential>
        </blocks>
        <resources>
            <essential_setup>
                <setup>
                    <module>Polcode_Essential</module>
                </setup>
            </essential_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Polcode_Essential>
                    <files>
                        <default>Polcode_Essential.csv</default>
                    </files>
                </Polcode_Essential>
            </modules>
        </translate>
        <layout>
            <updates>
                <essential>
                    <file>essential.xml</file>
                </essential>
            </updates>
        </layout>
    </adminhtml>
</config>