<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Essential>
            <version>0.1.0</version>
        </Polcode_Essential>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Polcode_Essential>
                    <files>
                        <default>Polcode_Essential.csv</default>
                    </files>
                </Polcode_Essential>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_related>Polcode_Essential_Block_Grid</catalog_product_edit_tab_related>
                </rewrite>
            </adminhtml>
            <essential>
                <class>Polcode_Essential_Block</class>
            </essential>
        </blocks>
        <models>
            <essential>
                <class>Polcode_Essential_Model</class>
                <resourceModel>essential_resource</resourceModel>
            </essential>
            <essential_resource>
                <class>Polcode_Essential_Model_Resource</class>
                <entities>
                    <catalog_product_link>
                        <table>catalog_product_link</table>
                    </catalog_product_link>                   
                </entities>
            </essential_resource>
        </models>
        <resources>
            <essential_setup>
                <setup>
                    <module>Polcode_Essential</module>
                    <class>Polcode_Essential_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>Mage_Eav_Model_Entity_Setup</use>
                </connection>
            </essential_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <essential>
                    <file>essential.xml</file>
                </essential>
            </updates>
        </layout>
        <translate>
            <modules>
                <Polcode_Essential>
                    <files>
                        <default>Polcode_Essential.csv</default>
                    </files>
                </Polcode_Essential>
            </modules>
        </translate>
    </adminhtml>
 
</config>