<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Multishipping>
            <version>0.0.1</version>
        </Polcode_Multishipping>
    </modules>
    <global>
        <models>
            <multishipping>
                <class>Polcode_Multishipping_Model</class>
                <resourceModel>multishipping_resource</resourceModel>
            </multishipping>
            <multishipping_resource>
                <class>Polcode_Multishipping_Model_Resource</class>
                <entities>
                    <multishipping>
                        <table>multishipping</table>
                    </multishipping>
                </entities>
            </multishipping_resource>
        </models>
        <resources>
            <multishipping_setup>
                <setup>
                    <module>Polcode_Multishipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multishipping_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <multishipping>
                <use>admin</use>
                <args>
                  <module>Polcode_Multishipping</module>
                  <frontName>multishipping</frontName>
                </args>
            </multishipping>
        </routers>
    </admin>    
</config>