<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Multishipping>
            <version>0.0.1</version>
        </Polcode_Multishipping>
    </modules>
    <global>
        <models>
            <multishipping>
                <class>Polcode_Multishipping_Model</class>
                <resourceModel>multishipping_resource</resourceModel>
            </multishipping>
            <multishipping_resource>
                <class>Polcode_Multishipping_Model_Resource</class>
                <entities>
                    <multishipping>
                        <table>multishipping</table>
                    </multishipping>
                </entities>
            </multishipping_resource>
            <checkout>
                <rewrite>
                    <type_onepage>Polcode_Multishipping_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <multishipping_setup>
                <setup>
                    <module>Polcode_Multishipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multishipping_setup>
        </resources>
        <blocks>
            <multishipping>
                <class>Polcode_Multishipping_Block</class>
            </multishipping>
            <checkout>
                <rewrite>
                    <onepage>Polcode_Multishipping_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Polcode_Multishipping after="Mage_Adminhtml">Polcode_Multishipping</Polcode_Multishipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <multishipping>
                    <file>multishipping.xml</file>
                </multishipping>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <multishipping>
                <active>1</active>
                <model>multishipping/carrier</model>
                <title>Multishipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>0</express_max_weight>
            </multishipping>
        </carriers>
    </default>
    <frontend>
        <layout>
            <updates>
                <multishipping>
                    <file>multishipping.xml</file>
                </multishipping>
            </updates>
        </layout>
    </frontend>
</config>