<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_HelloWorld>
            <version>0.1.0</version>
        </Polcode_HelloWorld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Polcode_HelloWorld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helloworld>
                <class>Polcode_HelloWorld_Block</class>
            </helloworld>
        </blocks>
    </global>
</config>