p.productlogger {
    margin: 20px 0;
}
p.productlogger span {
    font-family: monospace;
}
input.productlogger {
    width: 110px !important;
    margin-right: 10px;
}
table.productlogger {
    margin-bottom: 10px;
}