<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_ProductLogger>
            <version>0.1.0</version>
        </Polcode_ProductLogger>
    </modules>
    <frontend>
        <routers>
            <productlogger>
                <use>standard</use>
                <args>
                    <module>Polcode_ProductLogger</module>
                    <frontName>productlogger</frontName>
                </args>
            </productlogger>
        </routers>
        <layout>
            <updates>
                <productlogger>
                    <file>productlogger.xml</file>
                </productlogger>
            </updates>
        </layout>
        <translate>
            <modules>
                <Polcode_ProductLogger>
                    <files>
                        <default>Polcode_ProductLogger.csv</default>
                    </files>
                </Polcode_ProductLogger>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <productlogger>
                <class>Polcode_ProductLogger_Block</class>
            </productlogger>
        </blocks>
        <models>
            <productlogger>
                <class>Polcode_ProductLogger_Model</class>
                <resourceModel>productlogger_resource</resourceModel>
            </productlogger>
            <productlogger_resource>
                <class>Polcode_ProductLogger_Model_Resource</class>
                <entities>
                    <productlogger>
                        <table>productlogger</table>
                    </productlogger>
                </entities>
            </productlogger_resource>
        </models>
        <resources>  
            <productlogger_setup>
                <setup>
                    <module>Polcode_ProductLogger</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productlogger_setup>
        </resources>
        <helpers>
            <productlogger>
                <class>Polcode_ProductLogger_Helper</class>
            </productlogger>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <productlogger_observer>
                        <type>singleton</type>
                        <class>productlogger/observer</class>
                        <method>orderPlaced</method>
                    </productlogger_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <productlogger>
                <use>admin</use>
                <args>
                    <module>Polcode_ProductLogger</module>
                    <frontName>productlogger</frontName>
                </args>
            </productlogger>
        </routers>
    </admin>
</config>